// Make sure the charset is set appropriately
@charset "UTF-8";

$rtl: 1;
$dir: rtl !default;
$text_color: #707070;
$font_default : Jost;
$heading_color : #000000;
$primary_color : #dd3032;
$highlight_color : #000000;
$widget_color : #9a9a9a;
$border_color : #ebeeee;

@import "theme/directional";
@import "theme/reset-style";
@import "theme/style-guide";
@import "theme/animation";
@import "theme/base/header";
@import "theme/base/megamenu";
@import "theme/base/header-responsive";
@import "theme/base/preloader";
@import "theme/base/footer";
@import "theme/base/widgets";

@import "theme/content/popup";
@import "theme/content/product";
@import "theme/content/single-product";
@import "theme/content/portfolio";
@import "theme/content/single-portfolio";
@import "theme/content/blog";
@import "theme/content/cart";
@import "theme/content/error-pages";
@import "theme/content/content_rtl";
@import "theme/content/shipping";
@import "theme/content/other-pages";
@import "theme/content/home-pages";
@import "theme/content/about-us";