.blog-item {
    margin-bottom: 24px;
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
::-webkit-input-placeholder{opacity:1}
::-moz-placeholder{opacity:1}
:-ms-input-placeholder{opacity:1}
.blog-img {
    position: relative;

    a {
        width: 100%;
        overflow: hidden;
        display: inline-block;
        float: $left;
    }
}

.icon-sticky {
    position: absolute;
    #{$right}: 0;
    z-index: 1;
    top: 0;
    width: 30px;
    height: 60px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 21px;

    &::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 60px 60px 0;
        border-color: transparent $primary_color transparent transparent;
        position: absolute;
        content: "";
        #{$right}: 0;
        z-index: -1;
    }
}

.post-name {
    margin-bottom: 11px;
    font-size: 20px;
    line-height: 22px;

    a {
        color: #2c2c2c;
        line-height: inherit;

        &:hover {
            color: $primary_color;
        }
    }
}
.blog-slider {
    position: relative;
}
.category-post {
    position: absolute;
    z-index: 1;
    bottom: 5px;
    #{$left}: 5px;
}
.info-post .info i {
    font-size: 12px;
    padding-#{$right}: 7px;
    color: $primary_color;
}

.blog-info-single .info i {
    font-size: 12px;
    padding-#{$right}: 5px;
    color: $primary_color;
}
.cate-post a{
    background-color: $primary_color;
    font-size: 14px;
    letter-spacing: 0.05em;
    padding: 7px 10px;
    border-radius: 0;
    text-transform: uppercase;
    display: inline-block;
    line-height: 18px;
    border: 1px solid $primary_color;
    margin-#{$right}: 10px;
    color: #fff;
    margin: side-values(0 5px 0 0);
    width: auto;
    &:hover{
        background-color: #fff;
        border-color: #fff;
        color: #ff6e68;
    }
}

.blog-list {
    .blog-item {
        text-align: $left;
        margin-bottom: 30px;
    }
    .info-post .info{
        font-size: 14px;
        position: relative;
        text-transform: none;
        margin-right: 15px;
        letter-spacing: 0;
    }
    .blog-post-info {
        padding: side-values(29px 30px 30px);
        border: 1px solid $border_color;
    }
    &.blog-list-style-2{
        .blog-item{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
            .blog-post-info{
                display: block !important;
                padding: 0 !important;
                text-align: center;
                border: 0;
            }
            .blog-img,
            .blog-post-info{
                width: 100%;
                max-width: 100% !important;
            }
            .blog-post-info{
                order: -1;
            }
        }
        .blog-post-info > .icon-sticky{
            display: none;
        }
        .post-name{
            margin-bottom: 14px;
        }
        .content-info{
            margin-top: 0;
        }
        .info-post{
            margin-bottom: 23px;
        }
        .info.cate-post{
            display: block;
            margin-bottom: 15px;
            padding-top: 0;
        }
        .info-post{
            justify-content: center;
            width: fit-content;
            margin: 0 auto;
            position: relative;
            padding: 0 50px;
        }
        .blog-post-info{
            margin-bottom: 23px;
        }
        .blog_post_desc{
            margin-top: 24px;
            line-height: 26px;
            margin-bottom: 0;
            text-align: center;
            margin-#{$left}: auto;
            margin-#{$right}: auto;
            padding: 0 15px;
        }
        .read_more{
            width: 100%;
            text-align: center;
            margin-top: 19px;
            a{
                color: $heading_color;
                font-size: 14px;
                line-height: 32px;
                letter-spacing: 0.18em;
                position: relative;
                border: 0;
                text-transform: uppercase;
                padding-bottom: 7px;
                &:before{
                    bottom: 1px;
                    left: 50%;
                    @include transform(translateX(-50%));
                }
                &:hover{
                    color: $primary_color;
                }
            }
        }
        .action {
            text-align: center;
            width: 100%;
            position: relative;
            margin-top: 29px;
            &:before{
                content: '';
                height: 1px;
                width: 100%;
                background-color: $border_color;
                display: inline-block;
                position: absolute;
                #{$left}: 0;
                top: 18px;
                z-index: -1;
            }
            a{
                width: 37px;
                height: 37px;
                border-width: 1px;
                border-style: solid;
                border-radius: 50%;
                border-color: #bc1e12;
                color: #bc1e12;
                display: inline-block;
                line-height: 37px;
                margin-#{$right}: 5px;
                &:last-child{
                    margin-#{$right}: 0;
                }
                 &:hover{
                    background-color: #bc1e12;
                    color: #fff;
                }
                &.facebook{
                    border-color: #3968d4;
                    color: #3968d4;
                    &:hover{
                        background-color: #3968d4;
                        color: #fff;
                    }
                }
                 &.twitter{
                    border-color: #2fc3ff;
                    color: #2fc3ff;
                    &:hover{
                        background-color: #2fc3ff;
                        color: #fff;
                    }
                }
            }
        }
        .blog-sharing-list {
            background: #fff;
            width: auto;
            display: inline-block;
            padding: 0 15px;
        } 
    }
}
.blog-list.blog-list-style-2 .post-name a{

    font-size: 30px;
    line-height: 32px;
}

.post-sidebar-sticky {
    position: relative;
    .content-post-sticky {
        text-align: center;
        padding: side-values(25px 21px 28px);
        z-index: 1;
        width: 100%;
        h4 {
            font-size: 20px;
            margin-bottom: 1px;

            a {
                color: #2c2c2c;
            }
        }
        .job{
            font-size: 14px;
            color:#9a9a9a;
        }

        p {
            font-size: 16px;
            color: #707070;
            margin-top: 11px;
        }
    }
}

.widget_text .textwidget .post-sidebar-sticky img {
    margin-bottom: 0;
}

.blog-gallery-single,
.blog-gallery {
    .slick-arrow {
        height: 44px;
        width: 44px;
        background: #fff;
        font-size: 10px;
        border: 1px solid $border_color;
        line-height: 44px;
        text-align: center;
        position: absolute;
        top: 50%;
        color: #2c2c2c;
        margin-top: -22px;

        &.btn-prev {
            left: 30px;
        }

        &.btn-next {
            right: 30px;
        }

        &:hover {
            color: #fff;
            background-color: $primary_color;
            border-color: $primary_color;
        }
    }
}

.blog-post-info {
    padding-top: 20px;
}

.read_more a {
    color: $primary_color;
    font-size: 16px;
    position: relative;
    &:hover{
        &:before{
            width: 40px;
        }
    }
    &:before{
        content: '';
        background-color: $primary_color;
        width: 25px;
        height: 1px;
        display: inline-block;
        position: absolute;
        bottom: 5px;
        #{$left}: calc(100% + 5px);
        @include transition(0.3s all);
    }
}

.blog-video {
    i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 60px;
        width: 60px;
        display: inline-block;
        border-radius: 50%;
        background: #fff;

        &:before {
            color: $primary_color;
            position: absolute;
            left: 50%;
            top: 50%;
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%)
        }

        &:after {
            content: "";
            height: 80px;
            width: 80px;
            position: absolute;
            left: 50%;
            top: 50%;
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 1px solid #fff;
        }
    }
}

.blog-item {
    img {
        @include transitions(all ease 0.6s);
    }

    &.blog-has-img img {
        width: 100%;
    }

    &:hover {
        .blog-video {
            i {
                background: $primary_color;

                &:before {
                    color: #fff;
                }

                &:after {
                    border-color: $primary_color;
                    animation: pulse-border 1.2s ease-out infinite;
                }
            }
        }

        .blog-gallery img {
            @include transform(scale(1));
        }
    }
}

.blog-img {
    overflow: hidden;
}

iframe {
    display: inherit;
}

.quote_section {
    position: relative;
    padding: 29px 28px 22px 28px;
    min-height: 95px;
    border: 1px solid $primary_color;

    &:before {
        content: "\e908";
        font-family: 'themebase';
        font-size: 16px;
        color: #ffffff;
        border-radius: 10px 10px 10px 0;
        font-weight: 600;
        border: 1px solid $primary_color;
        text-align: center;
        background-color: $primary_color;
        padding: 8px;
        display: inline-block;
        line-height: 16px;
    }

    &:after {
        content: "";
        position: absolute;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent transparent $primary_color;
        top: 53px;
        left: 28px;
    }

    blockquote a,
    blockquote p {
        font-size: 20px;
        color: $highlight_color;
        margin-top: 24px;
        line-height: 26px;
        display: inline-block;
    }

    blockquote a:hover {
        color: $primary_color;
    }
}

.post-quote {
    .blog-post-info {
        display: none;
    }
}

.link_section {
    position: absolute;
    top: 0;
    #{$right}: 0;
    width: auto;
    margin: 0;

    .link-icon {
        display: inline-block;
        line-height: 60px;
        font-weight: 600;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 64px 64px 0;
        border-color: transparent $primary_color transparent transparent;
        text-align: #{$right};
    }

    .link-post {
        overflow: hidden;
        font-size: 16px;
        position: absolute;
        #{$right}: 10px;
        height: 100%;
        width: 100%;
        top: -9px;
        color: #fff;
    }
}

.info-post {
    margin-bottom: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .info {
        font-size: 14px;
        line-height: 24px;
        text-transform: capitalize;
        color: #9a9a9a;
        display: flex;
        margin-#{$right}: 15px;
        align-items: center;
        flex-wrap: wrap;

        a {
            color: #9a9a9a;

            &:hover {
                color: $primary_color;
            }
        }

        &:last-child {
            margin-#{$right}: 0;
        }
    }
}
.info.default-date {
    margin-#{$left}: 1px;
}

.blog-grid .blog-col-4 {
    .info-post {
        .default-date {
            order: -1;
        }

        .author-post,
        .info-tag {
            order: 1;
        }

        .info-comment {
            order: 0;
        }

        .cate-post {
            order: 2;
        }
    }
}

// Blog single
.single-img-blog {
    overflow: hidden;
    position: relative;
}

.author-post-single {
    display: flex;
    align-items: center;
    padding: 43px 0;
    border-bottom: 1px solid $border_color;

    .img-author {
        padding-#{$right}: 30px;

        a {
            display: inline-block;
        }

        img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }

    h4 {
        margin-bottom: 7px;

        a {
            font-size: 20px;
            color: $heading_color;
            text-transform: capitalize;

            &:hover {
                color: $primary_color;
            }
        }
    }

    p {
        font-size: 16px;
        color: #707070;
    }

    .info-author {
        width: calc(100% - 100px);
    }
}

.title-post-single {
    text-align: #{$left};

    h1 {
        font-size: 30px;
        margin-bottom: 0;
    }

    + .blog-audio,
    + .blog-video,
    + .quote_section,
    + .blog-img,
    + .blog_post_desc {
        margin-top: 22px;
    }

}

.post-single {
    .blog-img {
        margin-bottom: 43px;
    }

    .blog-audio + .blog_post_desc {
        margin-top: 33px;
    }

    .blog-video + .blog_post_desc {
        margin-top: 43px;
    }
}

.tag-post-single {
    .info-tag a {
        font-size: 12px;
        text-transform: uppercase;
        color: $heading_color;
        border: 1px solid $border_color;
        display: inline-block;
        padding: 4.5px 20px;
        margin-bottom: 5px;
        letter-spacing: .075em;
        float: #{$left};
        margin-right: 5px;
        border-radius: 0;

        &:hover {
            color: #fff;
            background-color: $primary_color;
            border-color: $primary_color;
        }
    }
}

.tag-share {
    display: table;
    width: 100%;

    & > div {
        display: table-cell;
        vertical-align: middle;
    }

    .action .post-share-toggle {
        h3,
        .post-share-list {
            display: inline-block;
        }

        .post-share-list a {
            height: auto;
            width: auto;
            line-height: normal;
            text-align: #{$right};
            margin-#{$right}: 0;
            margin-#{$left}: 1px;
            border: 0;
            padding: 0 7px;
            font-size: 16px;

            &:last-child {
                padding-#{$right}: 0;
            }
        }

        h3 {
            margin-bottom: 0;
            font-size: 16px;
            vertical-align: top;
            padding-#{$right}: 3px;
        }
    }

    .post-share {
        margin-top: 0;
    }

    .action,
    .tag-post-single {
        border-bottom: 1px solid $border_color;
        padding: 25px 0;
    }

}

.tag-post-single + .action {
    text-align: #{$right};
}

.post-single {
    margin-top: -6px;

    @media (max-width: 767px) {
        padding-top: 20px;
    }
}

.title-weight-400 .elementor-heading-title {
    font-family: $font_default;
}

.blog-info-single {
    text-align: #{$left};
    padding: 0 0 9px;
    margin-#{$left}: 1px;
    .info + .cate-post {
        padding-top: 0;
    }

    .info {
        display: inline-block;
        position: relative;
        color: $primary_color;
        font-size: 14px;
        text-transform: capitalize;
        padding-bottom: 7px;

        &:not(:last-child) {
            margin-#{$right}: 15px;
        }

        a {
            color: $primary_color;
            background: none;
            border: none;
            padding: 0;
            text-transform: none;
            &:hover {
                color: $heading_color;
            }
        }

        &.info-comment {
            text-transform: none;
        }
    }
}

.no-image {
    .single-img-blog + .blog-info-single {
        padding-top: 0;
    }
}

.blog_post_desc,
.entry-content {
    ol ol, ul ul, ol ul, ul ol {
        margin-bottom: 0;
    }
}

.entry-content,
.blog_post_desc {
    table + h2 {
        padding-top: 16px;
    }

    dl + h2,
    ul + h2,
    ol + h2,
    p + h2 {
        padding-top: 11px;
    }
}

.blog-masonry .blog-post-info {
    padding: side-values(24px 0 0);
    border: none;
}

.blog_post_desc {
    font-size: 16px;
    color: $text_color;
    line-height: 28px;
    margin-bottom: 15px;
    letter-spacing: 0.01em;
    p {
        font-size: 16px;
        color: $text_color;
        line-height: 28px;
        margin-bottom: 26px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .has-large-font-size + p {
        line-height: normal;
    }

    + .read_more {
        margin-top: 0;
    }

    + .page-links {
        margin-top: 20px;
    }

    ul.blocks-gallery-grid {
        padding-#{$left}: 0;
    }
}

.page-links {
    + .read_more {
        margin-top: 15px;
    }
}
.wp-block-search  .wp-block-search__button{
    padding-top: 10px;
    height: 40px;
    padding-bottom: 10px;
}   
.entry-content .page-links{
    padding-top: 40px;
}
.post-single {
    .blog-content {
        border-bottom: 1px solid $border_color;
        padding-bottom: 42px;
        margin-bottom: 0;
    }

    .blog_post_desc {
        text-align: $left;
        margin-bottom: 0;
    }

    .pagination-link {
        border-bottom: 1px solid $border_color;
        padding: 30px 0;
        display: inline-block;
        width: 100%;

        .case-navigation {
            display: inline-block;
            width: 100%;
        }

        .nav-links {
            display: flex;
            align-items: center;
        }

        .nav-previous .text-prev,
        .nav-next .text-next {
            & > a:first-child {
                font-size: 16px;
                color: #7a7a7a;
                display: none;
                position: relative;
                text-transform: uppercase;
                text-decoration: underline;
                &:hover {
                    color: $primary_color;
                }
            }

            & > a:last-child {
                font-size: 18px;
                color: $heading_color;
                display: block;
                position: relative;

                &:hover {
                    color: $primary_color;
                }
            }

            a {
                display: block;
            }
        }

        .nav-previous {
            display: flex;
            width: 50%;
            align-items: center;
            float: #{$left};
        }

        .nav-next {
            display: flex;
            width: 50%;
            justify-content: flex-end;
            align-items: center;
            text-align: #{$right};
            float: #{$right};
        }

        .icon-prev {
            float: left;
            padding-#{$right}: 20px;
        }

        .icon-next {
            padding-#{$left}: 20px;
        }

        .icon-prev,
        .icon-next {
            a {
                border: 1px solid $border_color;
                height: 45px;
                width: 45px;
                color: $heading_color;
                display: inline-block;
                text-align: center;
                line-height: 45px;
                font-size: 12px;

                &:hover {
                    color: #fff;
                    border-color: $primary_color;
                    background-color: $primary_color;
                }
            }
        }
    }
}

.comment-reply-title {
    font-size: 18px;
    color: $highlight_color;
    text-transform: none;
    margin-bottom: 19px;

    small {
        font-size: 14px;
        margin-#{$left}: 5px;
    }
}

.related-archive {
    margin-top: 47px;
    border-bottom: 1px solid $border_color;
    padding-bottom: 47px;

    h3 {
        font-size: 24px;
        color: $highlight_color;
        text-transform: none;
        margin-bottom: 20px;
    }

    .item-posts {
        h5 {
            font-size: 16px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $highlight_color;
                position: relative;
                padding-#{$left}: 20px;
                &:before{
                    content: '';
                    background-color: $primary_color;
                    position: absolute;
                    height: 6px;
                    width: 6px;
                    top: 8px;
                    #{$left}: 0;
                    @include transform(rotate(45deg));
                }
                &:hover {
                    color: $primary_color;
                }
            }
        }
    }
}

.comments-area {
    margin-top: 50px;
    @media (max-width: 767px) {
        margin-top: 47px;
    }
    display: inline-block;
    width: 100%;
    @media (min-width: 768px) {
        .comment-form-wrap {
            padding-#{$left}: 90px;
        }
        .comment-box.no-comment + .comment-form-wrap {
            padding-#{$left}: 0;
        }
    }
}

.comment-list-wrap {
    padding-bottom: 12px;
    padding-top: 26px;
}

.comment-list {
    list-style: none;

    .children {
        list-style: none;
    }
}

.comment-text {
    img {
        margin: 10px 0;
    }
}

.post-name sup {
    font-size: 75%;
}

.comment-item {
    .box-info-comment {
        position: relative;
        margin-bottom: 12px;

        .post-author-box {
            display: inline-block;

            .img-author {
                display: inline-block;
                float: $left;
                margin-top: 5px;

                img {
                    height: 44px;
                    width: 44px;
                    margin-#{$right}: 30px;
                    border-radius: 50%;
                }
            }

            .info-author {
                overflow: hidden;

                .name-author {
                    width: 100%;
                    float: $left;
                    font-size: 18px;
                    color: $highlight_color;
                    text-transform: capitalize;

                    a {
                        color: $highlight_color;
                    }
                }

                .cmt-date {
                    width: 100%;
                    font-size: 14px;
                    color: #9a9a9a;
                }
            }
        }

        .comment-actions {
            position: absolute;
            #{$right}: 0;
            bottom: 7px;
            padding-bottom: 0;

            .comment-reply {
                a {
                    font-size: 14px;
                    color: $highlight_color;
                    padding-#{$right}: 20px;
                    position: relative;

                    &:before {
                        content: "";
                        height: 11px;
                        width: 2px;
                        background: #9a9a9a;
                        position: absolute;
                        #{$right}: 6px;
                        top: 2px;
                    }

                    &.comment-edit-link {
                        color: #9a9a9a;
                        position: relative;

                        &:hover {
                            color: $primary_color;
                        }
                    }

                    &:last-child {
                        padding-#{$right}: 0;

                        &:before {
                            content: none;
                        }
                    }

                    &:hover {
                        color: $primary_color;
                    }
                }
            }
        }
    }

    .comment-text {
        padding-#{$left}: 74px;

        p {
            color: $text_color;
            word-break: break-word;
            font-size: 16px;
        }
    }
}

.comment-list {
    > li > ul {
        padding-#{$left}: 75px;
        padding-top: 18px;

        > li > ul {
            padding-#{$left}: 75px;
            padding-top: 18px;

            > li > ul {
                padding-#{$left}: 75px;
                padding-top: 18px;
            }
        }
    }

    li {
        .comment-item {
            padding: 30px 0 14px;
            border-top: 1px solid $border_color;
            overflow: hidden;

            .comment-content {
                display: inline-block;
                width: 100%;
            }
        }
    }

    > li {
        &:first-child {
            > .comment-item {
                padding-top: 0;
                border-top: none;
            }
        }
    }
}

.post-share-toggle h3,
.comments-title {
    font-size: 24px;
    @media (max-width: 767px) {
        font-size: 20px;
    }
    color: $highlight_color;
    text-transform: none;
}

.post-share-toggle h3 {
    margin-bottom: 21px;
    font-family: $font_default;
}

.comments-title {
    margin-bottom: 0;
}

.post-share {
    margin-top: 47px;
    display: inline-block;
}

.post-share-list {
    a {
        display: inline-block;
        height: 44px;
        width: 44px;
        line-height: 44px;
        text-align: center;
        margin-#{$right}: 2px;
        border: 1px solid $border_color;
        color: #9a9a9a;

        &:hover {
            color: $primary_color;
        }
    }
}

.blog_post_desc ol.wp-block-latest-comments {
    margin-left: 0;
}

.wp-block-latest-posts.wp-block-latest-posts__list {
    padding-#{$left}: 0;
}

.comment-respond {
    padding-top: 46px;
    border-top: 1px solid $border_color;
    display: inline-block;
    width: 100%;
    margin-top: 21px;
}

@media (max-width: 640px) {
    li.comment .comment-respond {
        margin-#{$left}: 74px;
    }
}

.commentform {
    flex-direction: column;
    position: relative;
    overflow: hidden;
    display: flex;

    .comment-field {
        order: 1;
        margin-bottom: 10px;
    }

    .comment-textarea {
        order: 2;
    }

    .comment-form-cookies-consent {
        order: 4;
    }

    textarea,
    input[type=password],
    input[type=text] {
        border-width: 0 0 1px 0;
        font-size: 16px;
        color: $text_color;
        border-color: $border_color;
        padding: 12px 0 3px;
        height: 40px;
        margin-bottom: 0;
    }

    textarea {
        height: 113px;
    }

    .form-submit {
        order: 3;
        text-align: $right;
        margin-top: 30px;
        margin-bottom: 0;

        input[type=submit].btn {
            height: 44px;
            width: 119px;
            color: #fff;
            line-height: normal;
            padding: 10px 20px;
            border: none;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 2px;
            background-color: $primary_color;
        }
    }

    .comment-form-cookies-consent {
        display: none;

        label {
            font-size: 16px;
            margin-bottom: 0;
        }
    }
}

.single-post {
    .quote_section {
        margin-bottom: 30px;
    }
}

.info-post .cate-post {
    width: 100%;

    i {
        display: none;
    }

    a {
        text-transform: uppercase;
        color: #707070;
        letter-spacing: 0.025em;

        &:hover {
            color: $primary_color;
        }
    }
}

.blog-list {
    .content-info {
        margin-top: -6px;
    }

}

.active-sidebar {
    .widget-no-title > form {
        margin-top: 0;
    }
}

.widget_recent_entries ul li a {
    width: 100%;
}

.elementor-image .widget-image-caption {
    margin-top: -7px;
}

.comment-box.no-comment {
    padding-bottom: 25px;
}

.single-post .elementor-custom-embed-play {
    display: inline-flex;

    .eicon-play {
        height: 60px;
        width: 60px;
        display: inline-block;
        border-radius: 50%;
        background: #fff;
        font-size: 16px;
        opacity: 1;
        text-shadow: none;
        position: relative;

        &:before {
            content: "\f04b";
            color: $primary_color;
            position: absolute;
            #{$left}: 50%;
            top: 0;
            @include transform(translateX(-50%));
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            line-height: 60px;
        }

        &:after {
            content: "";
            height: 80px;
            width: 80px;
            position: absolute;
            #{$left}: 50%;
            top: 50%;
            border-radius: 50%;
            @include transform(translate(-50%, -50%));
            border: 1px solid #fff;
        }
    }

}

.single-post .elementor-widget-video .elementor-custom-embed-image-overlay:hover .elementor-custom-embed-play i {
    background: $primary_color;

    &:before {
        color: #fff;
    }

    &:after {
        border-color: $primary_color;
        animation: pulse-border 1.2s ease-out infinite;
    }
}

@media (min-width: 1366px) {
    .blog-masonry{
        .blog-item.post-image.blog-has-img .blog-post-info {
            bottom: 0;
            background-color: #479ec199;
            border: none;
            position: absolute;
            padding: 26px 32px 14px;

            .info-post, .read_more {
                display: none;
            }

            .blog_post_desc {
                line-height: 26px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
            }

            .post-name a, .blog_post_desc {
                color: #fff;
            }

            .post-name {
                font-size: 22px;
                margin-bottom: 12px;
            }

        }
    }
}
.blog-entries-wrap.blog-list {
    margin-bottom: 0;
}
@media (max-width: 1024px) {
    .elementor-open-lightbox .elementor-custom-embed-play {
        width: auto;
        height: auto;
    }
    .blog-item .blog-img img:hover {
        @include transform((none) !important) ;
    }
    .elementor-lightbox .elementor-video-container {
        width: 85% !important;
    }
}

@media (min-width: 1025px) {
    .blog-list {
        .post-name {
            margin-bottom: 6px;
            line-height: 30px;
        }

        .blog_post_desc {
            margin-bottom: 15px;

            + .page-links {
                margin-top: 0;
            }
        }
    }

    .elementor-custom-embed-image-overlay img {
        @include transitions(all ease 0.6s);
    }
    .elementor-custom-embed-image-overlay:hover img {
        @include transform(scale(1.2));
    }
    .blog-item {
        &:hover {
            .blog-img:not(.blog-gallery-single) img {
                @include transform(scale(1.1));
            }
        }

        .blog-gallery-sc {
            &:hover {
                img {
                    @include transform(none);
                }
            }

            .img-gallery {
                overflow: hidden;

                &:hover img {
                    @include transform(scale(1.1));
                }
            }

        }
    }
    .blog-list {
        .post-name {
            a {
                font-size: 24px;
            }
        }
    }
    .post-name {
        line-height: 26px;
        margin-bottom: 17px;
        font-size: 22px;
    }
    .blog-post-info {
        padding-top: 24px;
    }
}

@media(min-width: 992px) {
    .col-xl-6 {
        .blog-list .blog-item.blog-has-img,
        .blog-list .blog-item.post-image,
        .blog-list .blog-item.post-video {
            display: block;

            .blog-post-info,
            .blog-img {
                width: 100%;
            }

            .blog-post-info {
                border-#{$left}: 1px solid $border_color;
                padding: 28px 30px;
            }
        }

    }
}

@media(max-width: 991px) {
    .comment-box.no-comment {
        padding-bottom: 15px;
    }
    .commentform .form-submit {
        text-align: $left;
    }
    .blog-info-single .info {
        padding: 0 0 7px;
    }
    .blog-info-single .info:not(:first-child):before {
        content: none;
    }
    .left-sidebar {
        order: 2;

        + .main-sidebar {
            order: 1;
        }
    }
    .left-sidebar,
    .right-sidebar,
    .wrapper {
        padding-top: 60px;
    }
    .comments-area {
        margin-top: 35px;
    }
}

@media(min-width: 768px) {
    .blog-entries-wrap.blog-list-style-2+.pagination-content.type-loadmore.load_more_button a{
        margin-top: 50px;
    }
    .blog-entries-wrap {
        margin-bottom: -30px;
    }
    .blog-entries-wrap + .pagination-content div {
        padding-top: 42px;
        margin-bottom: -7px;
    }
    .blog-entries-wrap + .pagination-content.type-loadmore.load_more_button div {
        padding-top: 0;
        margin-bottom: 0;
    }
    .blog-entries-wrap + .pagination-content.type-loadmore.load_more_button a {
        margin-top: 46px;
    }
    .blog-list .item:last-child .blog-item {
        margin-bottom: 0;
    }
    .blog-list {
        .blog-item.post-audio,
        .blog-item.blog-has-img,
        .blog-item.post-video,
        .blog-item.post-image {
            display: flex;
            .blog-audio,
            .blog-img {
                max-width: 47.5%;
            }

            .blog-audio {
                display: flex;
                align-items: center;
            }

            .blog-post-info {
                max-width: 52.5%;
                border-#{$left}: 0;
            }
            &.no-image{
                .blog-post-info{
                    max-width: 100%;
                }
            }
            .blog-post-info {
                display: flex;
                align-items: center;
                padding: 30px;
            }
        }
        .blog-item.blog-has-img{
            .blog-slider {
                max-width: 47.5%;
                overflow: hidden;
            }
            .blog-img {
                max-width: 100%;
            }
        }

        .blog-img:not(.blog-gallery) {
            display: flex;
            align-items: center;
        }

        .blog-item:not(.post-quote) {
            border: 1px solid $border_color;

            .blog-post-info {
                border: 0;
            }
        }
    }
    .has-sidebar .blog-list:not(.blog-list-style-2) .post-name {
        max-height: 65px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
}

@media(max-width: 767px) {
    .comment-box.no-comment {
        padding-bottom: 2px;
    }
    .post-single .pagination-link .nav-previous .text-prev > a:first-child, 
    .post-single .pagination-link .nav-next .text-next > a:first-child{
        display: block;
    }
    .left-sidebar,
    .right-sidebar,
    .wrapper {
        padding-top: 40px;
    }
    .product-has-filter {
        .sticky-sidebar {
            padding: 0 0 30px;
        }
    }
    .comments-area {
        margin-top: 23px;
    }
    .tag-share {
        display: block;

        & > div {
            width: 100%;
            display: inline-block;
        }

        .action {
            margin-top: -5px;
        }
    }
    .tag-share + author-post-single {
        padding-top: 18px;
    }
    .tag-post-single + .action {
        text-align: #{$left};
        padding-top: 26px;
        margin-top: 25px;
        border-top: 1px solid $border_color;
    }
    .post-single .pagination-link .nav-previous,
    .post-single .pagination-link .nav-next {
        .icon-prev,
        .icon-next,
        .text-prev a:last-child,
        .text-next a:last-child {
            display: none;
        }
    }
    .post-single .pagination-link {
        padding: 24px 0;
    }
    .post-single .pagination-link .nav-next .text-next > a:first-child, 
    .post-single .pagination-link .nav-previous .text-prev > a:first-child {
        padding-bottom: 0;
        text-transform: uppercase;
        text-decoration: underline;
    }
    .blog-list.blog-list-style-2 .post-name a {
        font-size: 28px;
    }
    .blog-list.blog-list-style-2 .blog-item {
        margin-bottom: 30px;
        padding-top: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid $border_color;
    }
    .blog-list .blog-post-info {
        padding: 15px;
    }
}

@media(max-width: 640px) {
    .comment-list > li > ul,
    .comment-list > li > ul > li > ul,
    .comment-list > li > ul > li > ul > li > ul {
        padding-#{$left}: 0;
    }
}
@media (min-width: 600px) and (max-width: 767px){
    .blog-entries-wrap.blog-list {
        .item{
            flex: 0 0 50%;
        }
    }
}