.woocommerce-checkout{
    .woocommerce-info{
        margin-bottom: 25px;
    }
    textarea{
        padding-#{$right}: 10px;
    }
    .input-text:hover{
        &::placeholder{
            color: #6d6b6c !important;
        }
    }
    .woocommerce-shipping-methods{
        li{
            &:after{
              content: none;
            }
            label{
                padding-#{$left}: 18px;
            }
        }
        .shipping_method{
            opacity: 1 !important;
            margin-#{$right}: 5px;
            float: none;
            margin-top: 4px;
        }
    }
}
.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper,
.woocommerce-additional-fields {
    clear: both;
    margin:0 -15px;
    overflow: hidden;
}
.checkout_coupon{
    .form-row-first{
        position: relative;
    }
}
.coupon-info{
    margin-bottom: 10px;
}
.product-thumb{
    img{
        border: 1px solid $border_color;
    }
}
.woocommerce table.woocommerce-checkout-review-order-table {
    tr.cart_item:last-child{
        td.product-name{
            padding-bottom: 30px;
        }
    }
    td:first-child {
        display: table-cell;
        border: none;
    }
}
.woocommerce table.shop_table tbody th, 
.woocommerce table.shop_table tfoot td, 
.woocommerce table.shop_table tfoot th {
    font-weight: 400;
    font-size: 16px;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment{
    border-radius: 0;
}
.shop_table.woocommerce-checkout-review-order-table{
    .cart_item{
        .product-quantity {
            height: 20px;
            font-weight: normal;
            font-size: 12px;
            color: #a9a9a9;
            border-radius: 30px;
            background: $border_color;
            display: inline-block;
            clear: #{$left};
            padding: 0 9px;
            width: auto;
            text-align: center;
            float: #{$left};
            line-height: 20px;
            margin-top: 14px;
            max-width: 50px;
        }
        .product-name{
            padding: side-values(15px 0);
            & > div{
                float: $left;
                text-align: $left;
            }
            .product-thumb{
                width: 60px;
                border:1px solid $border_color;
            }
            .product-info{
                width: calc(100% - 60px);
                padding-#{$left}: 23px;
                .product-title{
                    font-size: 16px;
                    color: $highlight-color;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: -5px;
                    line-height: 24px;
                    float: $left;
                    width: 70%;
                    margin-bottom: 0;
                    span{
                        width: 100%;
                         display: inline-block;
                    }
                }
                .woocs_special_price_code{
                    float: right;
                    margin-top: -3px;
                    width: 30%;
                    text-align: right;
                }
                .woocommerce-Price-amount{
                    color: #6d6b6c;
                }
            }
        }
    }
    tfoot{
        tr{
            &.cart-subtotal{
                th, td{
                    padding: 26px 0 2px !important;
                    border-top: 1px solid #cecece !important;
                }
            }
            th{
                color: $text_color;
                vertical-align: middle;
                width: 35%;
                letter-spacing: 0.025em;
                text-transform: capitalize;
                border-bottom:none !important;
            }
            th, td{
                font-size: 16px ;
                font-weight: 400;
                padding: 10px 0;
            }
            td{
                text-align: #{$right};
                color: $text_color;
                padding: 5px 0;
            }
            &.order-total{
                th, td{
                    font-size: 18px;
                    color:$highlight-color;
                }  
            }
        }
    }
}
span.label-item{
    font-size: 16px;
    margin-bottom: 0;
}
.product-number {
    span{
        color: $highlight-color;
        &.arrow-item{
            cursor: pointer;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            #{$right}: 0;
            padding: 0;
            font-size: 11px;
            &.fa-angle-down{
                &:before{
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    content: '\f078';
                }
            }
            &.fa fa-angle-down.active{
                &:before{
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    content: '\f077';
                }
            }
        }
    }
}
.woocommerce-account .woocommerce-account form.woocommerce-form.login .woocommerce-form__label input[type=checkbox]:before{display: none;}

.wc_payment_methods.payment_methods .woocommerce-notice--info{
    margin-bottom: 30px !important;
}
.woocommerce-invalid #terms{
    outline: none;
}
form.checkout .place-order.form-row{
    .woocommerce-terms-and-conditions-wrapper input {
    min-width: auto;
    width: auto;
    height: auto;
    }
} 
.woocommerce-checkout{
    #payment{
        background: 0 0;
        margin: 23px 0 0;
        .form-row.place-order{
            margin: 0;
            padding:0;
            button{
                height: 48px;
                width: 100%;
                border-radius: 30px;
                font-size: 16px;
                font-weight: 500;
                margin: side-values(0 15px);
            }
        }
        ul.payment_methods{
            padding: 0;
            border:0 ;
            li{
                padding: 0;
                position: relative;
                &:after{
                  content: none !important;
                }
                input{
                    height: 18px;
                    width: 18px;
                    margin-#{$right}: 8px;
                    margin-#{$left}: -5px;
                    display: none;
                }
                label{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    vertical-align: top;
                    padding-#{$left}: 29px;
                    position: relative;
                    letter-spacing: 0.2px;
                    color: $text_color;
                    &:before{
                        height: 18px;
                        width: 18px;
                        #{$left}: 0;
                        border: 1px solid #e3e3e3;
                        background: #fff;
                        cursor: pointer;
                    }
                    &:before, &:after{
                        position: absolute;
                        content: '';
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                        border-radius: 50%;
                    }
                }
                input:checked ~ label:after{
                    height: 6px;
                    width: 6px;
                    background: $primary_color;
                    #{$left}: 6px;
                }
                .payment_box{
                    padding: 0;
                    padding-left:29px;
                    color:#9a9a9a;
                    background:none;
                    font-size: 16px;
                    margin:-11px 0 19px;
                    input {
                        width: 100%;
                        margin: 0;
                    }
                    label {
                        display: block;
                        padding-#{$left}: 0;
                        margin-bottom: 15px;
                        &:before{
                            content: none;
                        }
                    }
                    &:before{
                        content: none;
                    }
                }
                div.form-row {
                    padding: 20px 0;
                    select {
                        width: 100%;
                    }
                }
            }

        }
        div.payment_box{
            margin: side-values(5px 0 15px);
        }
        #place_order{
            background: $primary_color;
            margin: 0;
            border-radius: 0;
            float: none;
            text-transform: none;
            letter-spacing: 1px;
            z-index: 8;
            padding: 12px 20px;
            height: 45px;
            font-weight: normal;
            margin-top: 14px;
            border: 1px solid transparent;
            &:hover{
                background: transparent;
                color: #fff;
                border-color: $primary_color; 
            }
        }
    }
}
ul.woocommerce-error{
    margin-bottom: 30px;
    li:hover{
        color: #fff;
    }
}

.woocommerce-customer-details--phone, .woocommerce-customer-details--email{
    margin-top: 5px;
}
.woocommerce-order-details{
    margin-bottom: 0 !important;
}
.woocommerce-customer-details h2 {
    margin-top: 30px;
}
.woocommerce form.checkout .woocommerce-account-fields p.form-row.woocommerce-validated {
    margin-bottom:10px;
}
.woocommerce-account-fields{
    p.form-row{
        padding:0 !important;
    }
}
.woocommerce form .form-row .input-checkbox{
    margin: 2px 0 0 0  !important;
}
.woocommerce-account-fields,
#ship-to-different-address{
    margin-bottom: 19px;
    .woocommerce-form__label{
        margin-bottom: 0;
    }
    span{
        font-size: 16px;
        font-weight: 400;
        color: $text_color;
        line-height: 24px;
        text-transform: capitalize;
    }
    label {
        width: 100%;
        cursor: pointer;
        span {
            position: relative;
            display: block;
            padding-left: 26px;
            text-transform: none;
            letter-spacing: 0.2px;
        }
        input[type=checkbox], 
        input[type=radio]{
            margin-left:0;
            height: 0;
        }
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
        width: 18px;
        height: 18px;
        top: 0;
         left: 0;
         border: 1px solid $border_color;
         border-radius: 0;
         background-color: white;
    }
    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 4px;
        height: 8px;
        border: solid #fff;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 4px;
        left: 7px;
    }
     input[type=checkbox]:hover{
        &:before{

            border-color:$primary_color
        }
     }
     input[type=checkbox]:checked{
        &:before{
            border-color:$primary_color;
            background:$primary_color;
        }
     }
}
.button-back-cart{
    float: #{$right};
    margin-bottom: 20px;
    color:$primary_color;
    span{
        font-size: 10px;
        margin-right: 5px;
    }
}
.woocommerce-account-fields{
    margin-bottom: 0;
}
.woocommerce form.woocommerce-form.login .woocommerce-form__label input[type="checkbox"],
  .woocommerce-account-fields label input[type="checkbox"], 
  .woocommerce-account-fields label input[type="radio"], 
  #ship-to-different-address label input[type="checkbox"], 
  #ship-to-different-address label input[type="radio"]{
    width: 0;
    height: 20px;
    margin-top: 2px;
  }
.woocommerce form.checkout p.form-row.validate-required{
    label span{
        padding-left:26px !important;
    }
}
  .woocommerce form .form-row .input-checkbox {
        margin: 2px 0 0 0 !important;
    }
  .woocommerce-invalid-required-field{
        .woocommerce-terms-and-conditions-checkbox-text{
            font-size:16px;
            padding-left:26px;
            line-height: 24px;
        }
  }
  form.checkout .place-order.form-row.validate-required input {
    min-width: auto;
    width: auto;
    height: auto;
}
  .woocommerce-account .woocommerce form.woocommerce-form.login .woocommerce-form__label span{    padding-left: 0;}
  .woocommerce-account .woocommerce form.woocommerce-form.login .woocommerce-form__label input[type=checkbox]:before{display: none;}
  @media (max-width: 767px){
    .woocommerce-checkout #payment #place_order {
        margin-bottom: 50px;
    }
    .woocommerce-checkout #payment #place_order:hover {
        color: $primary_color;
    }
  }