/*===================================
	2.3 Mega Menu
===================================*/
.mega-menu .tip {
	background: $primary_color none repeat scroll 0 0;
    color: #fff;
    font-size: 12px;
    line-height: 8px;
	padding: 0px 6px;
    position: relative;
    vertical-align: middle;

}
.open-submenu {
  margin-#{$left}: 3px;
}
.mega-menu > li.megamenu .sub-menu li:last-child > a{
	border: none;
}
.menu-item-type-post_type.menu-item-has-children{
	> a{
		.open-submenu{
			position:absolute;
			#{$right}:0;
			bottom:5px;
		}
	}
}
.menu-bottom{
	display: none;
}
.megamenu{
	> ul.sub-menu{
		width: 600px;
		> li.menu-item {
		    float: $left;
			width: 50%;
			padding: side-values(0 15px);
			&.menu_start_new_row{
				clear: both;
				width: 100% !important;
			}		    
		}
		.sub-menu{
			background-color: transparent !important;
		}			
	}
	&.menu-item-has-children{
		> ul.sub-menu{
			#{$left}: auto;
			#{$right}: 15px;
		}
	}	
	&.mega_column_3{
		> ul.sub-menu{
			width: 800px;
			> li.menu-item {
			    width: calc( 100%/3 );
			}			
		}
	}
	&.mega_column_4{
		> ul.sub-menu{
			width: 1110px;
			@media (min-width: 992px) and (max-width: 1199px){
				width: 932px;
			}
			> li.menu-item {
			    width: calc( 100%/4 );
			}			
		}
	}	
	&.mega_column_5{
		> ul.sub-menu{
			width: 1300px;
			@media (min-width: 992px) and (max-width: 1199px){
				width: 932px;
			}
			> li.menu-item {
			    width: calc( 100%/5 );
			}			
		}
	}
	&.menu_fullw{
		> ul.sub-menu{
			width: 100%;
		}
	}
	.menu_hide_title{
		> a{
			display: none;
		}
	}	
}
.menu_icon_top{
	> a> i{
		position: absolute;
	    top: calc( 50% - 29px);
	    width: 100%;
	    #{$left}: 0;
	    text-align: center;		
	}
}
.menu_bg_overlay > ul.sub-menu:before {
    content: "";
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    #{$left}: 0;
    #{$right}: 0;
    opacity: 0.2;
}
.ui-autocomplete {
    padding: 15px;
    max-height: 250px;
    overflow-y: scroll;
    background-color: #fff;
    top: 100% !important;
    #{$left}: 0 !important;
    z-index: 1;
	&::-webkit-scrollbar {
		display: none;
	}
    .woocommerce.add_to_cart_inline {
	    border: none !important;
	    padding: 0 !important;
		margin: 4px 0 0 !important;
	}
	.search-img{
	    float: $left;
	    margin-#{$right}: 20px;
		background: #f5f5f5;
	    margin-top: 0;
		img{
			width: 65px;
			height: 75px;
		}
	}
	> li{
		overflow: hidden;
		clear: both;
		padding: 0;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.search-info {
		overflow: hidden;
		text-align: $left;
		> a {
		    font-size: 14px;
		    text-transform: capitalize;
		    display: block;
		    color: #000;
		    font-weight: 500;
		    line-height: 20px;
		    &:hover{
		    	color: $primary_color;
		    }
		}
	}
	.price .add_to_cart_inline {
		line-height: normal;
		display: inline-block;
		span{
			color: $primary_color;
		}
		ins{
			background: none;
		}
		del{
			span{
				color: #8f8f8f;
			}
		}
	}
	.add-cart{
		margin-top: 5px;
	}
}
.menu-block {
  	.woocommerce div.product-grid div.product {
    	padding: 0;
  	}
  	.product_list {
  		.product-content .product-image {
		    width: 60px;
		    border: 1px solid #ebebeb;
		    margin-right: 15px;
	  	}
	  	.product-content .product-desc .price span {
	    	font-size: 13px;
		    &.woocommerce-Price-currencySymbol {
		      	font-size: 13px;
		    }
		}
	 }
  	.arrowpress-products .woocommerce {
    	margin-top: 12px;
  	}
	.product-list {
	    	padding-bottom: 0;
	    > .item {
	      	margin-bottom: 15px;
	    }
	    .product-action-list {
	      	background-color: transparent;
	      	.list_add_to_cart a {
	        	background-color: transparent;
	      	}
	    }
	    .product-content .product-desc {
	     	padding: 0;
	      	min-height: 100%;
	      	.price {
	        	margin: 0;
	        	border: none;
	        	padding: 0;
	      	}
	    }
  	}
	.product-content .price {
	    font-size: 13px;
	}
  	.action_item_box, .desc {
    	display: none !important;
  	}
  	.trending {
	    font-size: 13px;
	    label {
	      	color: #1b2429;
	      	font-weight: 400;
	      	margin: 0;
	    }
	    a {
	      	display: inline-block !important;
	      	padding: 0 10px !important;
	      	vertical-align: middle;
	      	color: $primary_color !important;
	      	&:hover{
	      		color: #282828 !important;
	      	}
	    }
	}
}
@media (min-width: 1025px){
	.megamenu:not(.menu_fullw) .megamenu_sub {
		border: 1px solid $border_color;
	}
}

.megamenu_sub{
	background: #ffff;
	z-index: 10;
	.megamenu-content{
		& > .elementor > .elementor-inner > .elementor-section-wrap > .elementor-element{
			width: 100% !important;
			#{$left}: 0 !important;
		}
	}
	ul.mega-menu li:hover > a {
		background: transparent;
	}
}
