/*===================================
    2.5 Preloader
===================================*/
.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  #{$left}: 50%;
  @include transform(translateX(-50%)) ;
  z-index: 1;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #00000054;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
body:not(.elementor-editor-active){ 
    #pre-loader{
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0px;
        z-index: 9999;
        overflow: hidden;
        #{$left}: 0;
    }
    #loading{
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: fixed;
        margin-top: 0px;
        top: 0px;
        z-index: 99999;
        overflow: hidden;
        #{$left}: 0;
    }
    #loading-center{
        width: 100%;
        height: 100%;
        position: relative;
        }
    #loading-center-absolute {
        position: absolute;
        #{$left}: 50%;
        top: 50%;
        height: 150px;
        width: 150px;
        margin-top: -75px;
        margin-#{$left}: -75px; 
        -ms-transform: rotate(45deg); 
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); 

    }
    .object{
        width: 20px;
        height: 20px;
        background-color:$primary_color;
        position: absolute;
        #{$left}: 65px;
        top: 65px;
        }
    .object:nth-child(2n+0) {
        margin-#{$right}: 0px;

    }
    #object_one {
        -webkit-animation: object_one 2s infinite;
        animation: object_one 2s infinite;
        -webkit-animation-delay: 0.2s; 
        animation-delay: 0.2s; 
        }
    #object_two {
        -webkit-animation: object_two 2s infinite;
        animation: object_two 2s infinite;
        -webkit-animation-delay: 0.3s; 
        animation-delay: 0.3s; 
        }
    #object_three {
        -webkit-animation: object_three 2s infinite;
        animation: object_three 2s infinite;
        -webkit-animation-delay: 0.4s; 
        animation-delay: 0.4s; 
        }
    #object_four {
        -webkit-animation: object_four 2s infinite;
        animation: object_four 2s infinite;
        -webkit-animation-delay: 0.5s; 
        animation-delay: 0.5s; 
    }
    #object_five {
        -webkit-animation: object_five 2s infinite;
        animation: object_five 2s infinite;
        -webkit-animation-delay: 0.6s; 
        animation-delay: 0.6s; 
    }
    #object_six {
        -webkit-animation: object_six 2s infinite;
        animation: object_six 2s infinite;
        -webkit-animation-delay: 0.7s; 
        animation-delay: 0.7s; 
    }
    #object_seven {
        -webkit-animation: object_seven 2s infinite;
        animation: object_seven 2s infinite;
        -webkit-animation-delay: 0.8s; 
        animation-delay: 0.8s; 
    }
    #object_eight {
        -webkit-animation: object_eight 2s infinite;
        animation: object_eight 2s infinite;
         -webkit-animation-delay: 0.9s; 
        animation-delay: 0.9s; 
    }

    #object_big{
        
        position: absolute;
        width: 50px;
        height: 50px;
        #{$left}: 50px;
        top: 50px;
        -webkit-animation: object_big 2s infinite;
        animation: object_big 2s infinite;
             -webkit-animation-delay: 0.5s; 
        animation-delay: 0.5s; 
    }   
    @-webkit-keyframes object_big {
     50% { -webkit-transform: scale(0.5); }

    }

    @keyframes object_big {
     50% { 
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
      } 

    }
    @-webkit-keyframes object_one {
     50% { -webkit-transform: translate(-65px,-65px)  ; }

    }
    @keyframes object_one {
     50% { 
        transform: translate(-65px,-65px) ;
        -webkit-transform: translate(-65px,-65px) ;
      } 

    }
    @-webkit-keyframes object_two {
      50% { -webkit-transform: translate(0,-65px) ; }
    }

    @keyframes object_two {
     50% { 
        transform: translate(0,-65px) ; 
        -webkit-transform: translate(0,-65px) ; 
      } 

    }
    @-webkit-keyframes object_three {
     50% { -webkit-transform: translate(65px,-65px) ; }
    }

    @keyframes object_three {
     50% { 
        transform: translate(65px,-65px) ;
        -webkit-transform: translate(65px,-65px) ;
      } 
    }
    @-webkit-keyframes object_four {
      
      50% { -webkit-transform: translate(65px,0) ; }

    }
    @keyframes object_four {
      50% { 
        transform: translate(65px,0) ;
        -webkit-transform: translate(65px,0) ;
      } 

    }
    @-webkit-keyframes object_five {
      
      50% { -webkit-transform: translate(65px,65px) ; }

    }
    @keyframes object_five {
      50% { 
        transform: translate(65px,65px) ;
        -webkit-transform: translate(65px,65px) ;
      } 

    }
    @-webkit-keyframes object_six {
      
      50% { -webkit-transform: translate(0,65px) ; }

    }
    @keyframes object_six {
      50% { 
        transform:  translate(0,65px) ;
        -webkit-transform:  translate(0,65px) ;
      } 

    }
    @-webkit-keyframes object_seven {
      
      50% { -webkit-transform: translate(-65px,65px) ; }

    }
    @keyframes object_seven {
      50% { 
        transform: translate(-65px,65px) ;
        -webkit-transform: translate(-65px,65px) ;
      } 

    }
    @-webkit-keyframes object_eight {
      
      50% { -webkit-transform: translate(-65px,0) ; }

    }
    @keyframes object_eight {
      50% { 
        transform: translate(-65px,0) ;
        -webkit-transform: translate(-65px,0) ;
      } 

    }
    // Preloader 2
    #loading-2{
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 99999;
        margin-top: 0px;
        top: 0px;
        #{$left}: 0;
    }
    .lds-dual-ring {
        position: absolute;
        top: 50%;
        #{$left}: 50%;
        @include transform(translate(-50%, -50%));
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid $primary_color;
        border-color: $primary_color transparent $primary_color transparent;
        -webkit-animation: lds-dual-ring 0.8s linear infinite;
        -moz-animation: lds-dual-ring 0.8s linear infinite;
        -ms-animation: lds-dual-ring 0.8s linear infinite;
        -o-animation: lds-dual-ring 0.8s linear infinite;
        animation: lds-dual-ring 0.8s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }
    }

    // Preloader 3
    #loading-3{
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 99999;
        #{$left}: 0;
        margin-top: 0px;
        top: 0px;
    }
    #loading-center-3{
        width: 100%;
        height: 100%;
        position: relative;
        }
    #loading-center-absolute-3 {
        position: absolute;
        #{$left}: 50%;
        top: 50%;
        height: 200px;
        width: 200px;
        margin-top: -100px;
        margin-#{$left}: -100px;
        -ms-transform: rotate(-135deg); 
        -webkit-transform: rotate(-135deg); 
        transform: rotate(-135deg);

    }
    .object-3{
        -moz-border-radius: 50% 50% 50% 50%;
        -webkit-border-radius: 50% 50% 50% 50%;
        border-radius: 50% 50% 50% 50%;
        position: absolute;
        border-top: 5px solid $primary_color;
        border-bottom: 5px solid transparent;
        border-#{$left}:  5px solid $primary_color;
        border-#{$right}: 5px solid transparent;
        
        -webkit-animation: animate_three 2s infinite;
        animation: animate_three 2s infinite;   

        }
    #object_one_3{
        #{$left}: 75px;
        top: 75px;
        width: 50px;
        height: 50px;
        }
                                
    #object_two_3{
        #{$left}: 65px;
        top: 65px;
        width: 70px;
        height: 70px;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
        }
            
    #object_three_3{
        #{$left}: 55px;
        top: 55px;
        width: 90px;
        height: 90px;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        }
    #object_four_3{
        #{$left}: 45px;
        top: 45px;
        width: 110px;
        height: 110px;
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
        
        }   
    @-webkit-keyframes animate_three {
    50% {
        -ms-transform: rotate(360deg) scale(0.8); 
        -webkit-transform: rotate(360deg) scale(0.8); 
        transform: rotate(360deg) scale(0.8); 
      }
    }
    @keyframes animate_three {  
    50% {
        -ms-transform: rotate(360deg) scale(0.8); 
        -webkit-transform: rotate(360deg) scale(0.8); 
        transform: rotate(360deg) scale(0.8); 
      } 
        
    }
    // Preloader 4
    .preloader-4{
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 9999;
        #{$left}: 0;
        margin-top: 0px;
        top: 0px;
    }
    .busy-loader {
        position: absolute;
        width: 90px;
        height: 90px;
        margin: auto;
        top: 50%;
        #{$left}: 50%;
        margin-#{$left}: -45px;
        margin-top: -45px;
        .w-ball-wrapper {
            position: absolute;
            width: 86px;
            height: 86px;
            opacity: 0;
            -moz-transform: rotate(225deg);
            -moz-animation: orbit 4.4s infinite;
            -webkit-transform: rotate(225deg);
            -webkit-animation: orbit 4.4s infinite;
            -ms-transform: rotate(225deg);
            -ms-animation: orbit 4.4s infinite;
            -o-transform: rotate(225deg);
            -o-animation: orbit 4.4s infinite;
            transform: rotate(225deg);
            animation: orbit 4.4s infinite;
            .w-ball {
                position: absolute;
                width: 12px;
                height: 12px;
                background: $primary_color;
                #{$left}: 0px;
                top: 0px;
                -moz-border-radius: 11px;
                -webkit-border-radius: 11px;
                -ms-border-radius: 11px;
                -o-border-radius: 11px;
                border-radius: 11px;
            }
        }
        .ball-1 {
            -moz-animation-delay: 0.96s;
            -webkit-animation-delay: 0.96s;
            -ms-animation-delay: 0.96s;
            -o-animation-delay: 0.96s;
            animation-delay: 0.96s;
        }
        .ball-2 {
            -moz-animation-delay: 0.19s;
            -webkit-animation-delay: 0.19s;
            -ms-animation-delay: 0.19s;
            -o-animation-delay: 0.19s;
            animation-delay: 0.19s;
        }
        .ball-3 {
            -moz-animation-delay: 0.38s;
            -webkit-animation-delay: 0.38s;
            -ms-animation-delay: 0.38s;
            -o-animation-delay: 0.38s;
            animation-delay: 0.38s;
        }
        .ball-4 {
            -moz-animation-delay: 0.58s;
            -webkit-animation-delay: 0.58s;
            -ms-animation-delay: 0.58s;
            -o-animation-delay: 0.58s;
            animation-delay: 0.58s;
        }
        .ball-5 {
            -moz-animation-delay: 0.77s;
            -webkit-animation-delay: 0.77s;
            -ms-animation-delay: 0.77s;
            -o-animation-delay: 0.77s;
            animation-delay: 0.77s;
        }
    }

    @-moz-keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            -moz-transform: rotate(180deg);
            -moz-animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            -moz-transform: rotate(300deg);
            -moz-animation-timing-function: linear;
        }

        30% {
            opacity: 1;
            -moz-transform: rotate(410deg);
            -moz-animation-timing-function: ease-in-out;
        }

        39% {
            opacity: 1;
            -moz-transform: rotate(645deg);
            -moz-animation-timing-function: linear;
        }

        70% {
            opacity: 1;
            -moz-transform: rotate(770deg);
            -moz-animation-timing-function: ease-out;
        }

        75% {
            opacity: 1;
            -moz-transform: rotate(900deg);
            -moz-animation-timing-function: ease-out;
        }

        76% {
            opacity: 0;
            -moz-transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            -moz-transform: rotate(900deg);
        }
    }

    @-webkit-keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            -webkit-transform: rotate(180deg);
            -webkit-animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            -webkit-transform: rotate(300deg);
            -webkit-animation-timing-function: linear;
        }

        30% {
            opacity: 1;
            -webkit-transform: rotate(410deg);
            -webkit-animation-timing-function: ease-in-out;
        }

        39% {
            opacity: 1;
            -webkit-transform: rotate(645deg);
            -webkit-animation-timing-function: linear;
        }

        70% {
            opacity: 1;
            -webkit-transform: rotate(770deg);
            -webkit-animation-timing-function: ease-out;
        }

        75% {
            opacity: 1;
            -webkit-transform: rotate(900deg);
            -webkit-animation-timing-function: ease-out;
        }

        76% {
            opacity: 0;
            -webkit-transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            -webkit-transform: rotate(900deg);
        }
    }

    @-ms-keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            -ms-transform: rotate(180deg);
            -ms-animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            -ms-transform: rotate(300deg);
            -ms-animation-timing-function: linear;
        }

        30% {
            opacity: 1;
            -ms-transform: rotate(410deg);
            -ms-animation-timing-function: ease-in-out;
        }

        39% {
            opacity: 1;
            -ms-transform: rotate(645deg);
            -ms-animation-timing-function: linear;
        }

        70% {
            opacity: 1;
            -ms-transform: rotate(770deg);
            -ms-animation-timing-function: ease-out;
        }

        75% {
            opacity: 1;
            -ms-transform: rotate(900deg);
            -ms-animation-timing-function: ease-out;
        }

        76% {
            opacity: 0;
            -ms-transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            -ms-transform: rotate(900deg);
        }
    }

    @-o-keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            -o-transform: rotate(180deg);
            -o-animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            -o-transform: rotate(300deg);
            -o-animation-timing-function: linear;
        }

        30% {
            opacity: 1;
            -o-transform: rotate(410deg);
            -o-animation-timing-function: ease-in-out;
        }

        39% {
            opacity: 1;
            -o-transform: rotate(645deg);
            -o-animation-timing-function: linear;
        }

        70% {
            opacity: 1;
            -o-transform: rotate(770deg);
            -o-animation-timing-function: ease-out;
        }

        75% {
            opacity: 1;
            -o-transform: rotate(900deg);
            -o-animation-timing-function: ease-out;
        }

        76% {
            opacity: 0;
            -o-transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            -o-transform: rotate(900deg);
        }
    }

    @keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            transform: rotate(180deg);
            animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            transform: rotate(300deg);
            animation-timing-function: linear;
        }

        30% {
            opacity: 1;
            transform: rotate(410deg);
            animation-timing-function: ease-in-out;
        }

        39% {
            opacity: 1;
            transform: rotate(645deg);
            animation-timing-function: linear;
        }

        70% {
            opacity: 1;
            transform: rotate(770deg);
            animation-timing-function: ease-out;
        }

        75% {
            opacity: 1;
            transform: rotate(900deg);
            animation-timing-function: ease-out;
        }

        76% {
            opacity: 0;
            transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            transform: rotate(900deg);
        }
    }
    // Preloader 5
    .preloader-5{
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 9999;
        #{$left}: 0;
        top: 0px;
    }
    .lds-ripple {
        width: 64px;
        height: 64px;
        position: absolute;
        top: 50%;
        #{$left}: 50%;
        @include transform(translate(-50%, -50%));
    }
    .lds-ripple div {
        position: absolute;
        border: 4px solid $primary_color;
        opacity: 1;
        border-radius: 50%;
        @include animation(lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite);
    }
    .lds-ripple div:nth-child(2) {
        -webkit-animation-delay: -0.5s;
        -moz-animation-delay: -0.5s;
        -ms-animation-delay: -0.5s;
        -o-animation-delay: -0.5s;
        animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
        0% {
            top: 28px;
            #{$left}: 28px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: -1px;
            #{$left}: -1px;
            width: 58px;
            height: 58px;
            opacity: 0;
        }
    }

    //Preload 6
    #loading-6{
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 99999;
        #{$left}: 0;
        margin-top: 0px;
        top: 0px;
    }
    .bubblingG {
        text-align: center;
        width:78px;
        height:49px;
        margin: auto;
        position: absolute;
        top: 50%;
        #{$left}: 50%;
        @include transform(translate(-50%, -50%));
    }

    .bubblingG span {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin: 24px auto;
        background: $primary_color;
        border-radius: 49px;
            -o-border-radius: 49px;
            -ms-border-radius: 49px;
            -webkit-border-radius: 49px;
            -moz-border-radius: 49px;
        animation: bubblingG 1.5s infinite alternate;
            -o-animation: bubblingG 1.5s infinite alternate;
            -ms-animation: bubblingG 1.5s infinite alternate;
            -webkit-animation: bubblingG 1.5s infinite alternate;
            -moz-animation: bubblingG 1.5s infinite alternate;
    }

    #bubblingG_1 {
        animation-delay: 0s;
            -o-animation-delay: 0s;
            -ms-animation-delay: 0s;
            -webkit-animation-delay: 0s;
            -moz-animation-delay: 0s;
    }

    #bubblingG_2 {
        animation-delay: 0.45s;
            -o-animation-delay: 0.45s;
            -ms-animation-delay: 0.45s;
            -webkit-animation-delay: 0.45s;
            -moz-animation-delay: 0.45s;
    }

    #bubblingG_3 {
        animation-delay: 0.9s;
            -o-animation-delay: 0.9s;
            -ms-animation-delay: 0.9s;
            -webkit-animation-delay: 0.9s;
            -moz-animation-delay: 0.9s;
    }



    @keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color: $primary_color;
            transform: translateY(0);
        }

        100% {
            width: 23px;
            height: 23px;
            background-color:rgb(255,255,255);
            transform: translateY(-20px);
        }
    }

    @-o-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color: $primary_color;
            -o-transform: translateY(0);
        }

        100% {
            width: 23px;
            height: 23px;
            background-color:rgb(255,255,255);
            -o-transform: translateY(-20px);
        }
    }

    @-ms-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color: $primary_color;
            -ms-transform: translateY(0);
        }

        100% {
            width: 23px;
            height: 23px;
            background-color:rgb(255,255,255);
            -ms-transform: translateY(-20px);
        }
    }

    @-webkit-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color: $primary_color;
            -webkit-transform: translateY(0);
        }

        100% {
            width: 23px;
            height: 23px;
            background-color:rgb(255,255,255);
            -webkit-transform: translateY(-20px);
        }
    }

    @-moz-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color: $primary_color;
            -moz-transform: translateY(0);
        }

        100% {
            width: 23px;
            height: 23px;
            background-color:rgb(255,255,255);
            -moz-transform: translateY(-20px);
        }
    }

    // Preload 7
    #loading-7{
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 99999;
        #{$left}: 0;
        margin-top: 0px;
        top: 0px;
    }
    #loading-center-7{
        width: 100%;
        height: 100%;
        position: relative;
    }
    #loading-center-absolute-7 {
        position: absolute;
        #{$left}: 50%;
        top: 50%;
        height: 200px;
        width: 200px;
        margin-top: -100px;
        margin-#{$left}: -100px;
    }
    #object-7{
        width: 80px;
        height: 80px;
        background-color: $primary_color;
        -webkit-animation: animate_s 1s infinite ease-in-out;
        animation: animate_s 1s infinite ease-in-out;
        margin-#{$right}: auto;
        margin-#{$left}: auto;
        margin-top: 60px;
    }
    @-webkit-keyframes animate_s {
      0% { -webkit-transform: perspective(160px); }
      50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
      100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
    }

    @keyframes animate_s {
      0% { 
        transform: perspective(160px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg); 
      } 50% { 
        transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
      } 100% { 
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      }
    }
    //Preload 8
    .loader-8{
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 9999;
        #{$left}: 0;
        top: 0px;
    }
    @-webkit-keyframes rotate_pacman_half_up {
      0% {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg); }
      50% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg); }
      100% {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg); } }

    @keyframes rotate_pacman_half_up {
      0% {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg); }
      50% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg); }
      100% {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg); } }

    @-webkit-keyframes rotate_pacman_half_down {
      0% {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
      50% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); }
      100% {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); } }

    @keyframes rotate_pacman_half_down {
      0% {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
      50% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); }
      100% {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); } }

    @-webkit-keyframes pacman-balls {
      75% {
        opacity: 0.7; }
      100% {
        -webkit-transform: translate(-100px, -6.25px);
                transform: translate(-100px, -6.25px); } }

    @keyframes pacman-balls {
      75% {
        opacity: 0.7; }
      100% {
        -webkit-transform: translate(-100px, -6.25px);
                transform: translate(-100px, -6.25px); } }

    .pacman {
      position: absolute; 
      #{$left}: 50%;
      top: 50%;
      @include transform(translate($translateX, -50%));
    }
      .pacman > div:nth-child(2) {
        -webkit-animation: pacman-balls 1s -0.99s infinite linear;
                animation: pacman-balls 1s -0.99s infinite linear; }
      .pacman > div:nth-child(3) {
        -webkit-animation: pacman-balls 1s -0.66s infinite linear;
                animation: pacman-balls 1s -0.66s infinite linear; }
      .pacman > div:nth-child(4) {
        -webkit-animation: pacman-balls 1s -0.33s infinite linear;
                animation: pacman-balls 1s -0.33s infinite linear; }
      .pacman > div:nth-child(5) {
        -webkit-animation: pacman-balls 1s 0s infinite linear;
                animation: pacman-balls 1s 0s infinite linear; }
      .pacman > div:first-of-type {
        width: 0px;
        height: 0px;
        border-#{$right}: 25px solid transparent;
        border-top: 25px solid $primary_color;
        border-#{$left}: 25px solid $primary_color;
        border-bottom: 25px solid $primary_color;
        border-radius: 25px;
        -webkit-animation: rotate_pacman_half_up 0.5s 0s infinite;
                animation: rotate_pacman_half_up 0.5s 0s infinite;
        position: relative;
        #{$left}: -30px; }
      .pacman > div:nth-child(2) {
        width: 0px;
        height: 0px;
        border-#{$right}: 25px solid transparent;
        border-top: 25px solid $primary_color;
        border-#{$left}: 25px solid $primary_color;
        border-bottom: 25px solid $primary_color;
        border-radius: 25px;
        -webkit-animation: rotate_pacman_half_down 0.5s 0s infinite;
                animation: rotate_pacman_half_down 0.5s 0s infinite;
        margin-top: -50px;
        position: relative;
        #{$left}: -30px; }
      .pacman > div:nth-child(3),
      .pacman > div:nth-child(4),
      .pacman > div:nth-child(5),
      .pacman > div:nth-child(6) {
        background-color: $primary_color;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin: 2px;
        width: 10px;
        height: 10px;
        position: absolute;
        -webkit-transform: translate(0, -6.25px);
                transform: translate(0, -6.25px);
        top: 25px;
        #{$left}: 70px; }

    // Preload 9
    #loading-9{
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 99999;
        #{$left}: 0;
        top: 0px;
    }
    #loading-center-9{
        width: 100%;
        height: 100%;
        position: relative;
        }
    #loading-center-absolute-9 {
        position: absolute;
        #{$left}: 50%;
        top: 50%;
        height: 50px;
        width: 150px;
        margin-top: -25px;
        margin-#{$left}: -75px;

    }
    .object-9{
        width: 8px;
        height: 50px;
        margin-#{$right}:5px;
        background-color: $primary_color;
        -webkit-animation: animate_e 1s infinite;
        -ms-animation: animate_e 1s infinite;
        -ms-animation: animate_e 1s infinite;
        -o-animation: animate_e 1s infinite;
        animation: animate_e 1s infinite;
        float: #{$left};
        }

    .object-9:last-child {
        margin-#{$right}: 0px;
        }
    .object-9:nth-child(10){
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;  
        }
    .object-9:nth-child(9){
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;  
        }   
    .object-9:nth-child(8){
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;  
        }
    .object-9:nth-child(7){
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;  
        }
    .object-9:nth-child(6){
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;  
        }
    .object-9:nth-child(5){
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        }
    .object-9:nth-child(4){
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;      
        }
    .object-9:nth-child(3){
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;  
        }
    .object-9:nth-child(2){
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
        }   
    @-webkit-keyframes animate_e {
     
      50% {
        -ms-transform: scaleY(0); 
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
          }
    }
    @keyframes animate_e {
      50% {
        -ms-transform: scaleY(0); 
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
          }
    }

    .preloader8 {
       width: 90px;
       height: 90px;
       display: inline-block;
       padding: side-values(0px);
       position: absolute;
       top: 50%;
       #{$left}: 50%;
       @include transform(translate($translateX, -50%));
    }
    .preloader8 span {
       position: absolute;
       display: inline-block;
       width: 90px;
       height: 90px;
        right: 0;
        left: 0;
       border-radius: 100%;
       background: $primary_color;
       -webkit-animation: preloader8 1.6s linear infinite;
       animation: preloader8 1.6s linear infinite;
    }
    .preloader8 span:last-child {
       animation-delay:-0.8s;
       -webkit-animation-delay:-0.8s;
    }
    @keyframes preloader8 {
       0% {transform: scale(0, 0);opacity:0.9;}
       100% {transform: scale(1, 1);opacity:0;}
    }
    @-webkit-keyframes preloader8 {
       0% {-webkit-transform: scale(0, 0);opacity:0.9;}
       100% {-webkit-transform: scale(1, 1);opacity:0;}
    }

    /*----------------------------------------------------
        Preloader 1
    -----------------------------------------------------*/
    body .baby, body .baby * {
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    body .baby {
        position: absolute;
        top: 50%;
        #{$left}: 50%;
        margin-#{$left}: -50px;
        margin-top: -20px;
    }
    body .baby .back {
        width: 75px;
        height: 20px;
        background: $primary_color;
        position: absolute;
        bottom: 5px;
        #{$left}: 35px;
        z-index: -1;
    }
    body .baby .back .tail {
        width: 5px;
        height: 5px;
        position: absolute;
        background: $primary_color;
        top: -22px;
        #{$right}: 13px;
        border-radius: corner-values(50%);
        @include transform(rotate(20deg));
    }
    body .baby .back .feet {
        background: $primary_color;
        width: 15px;
        height: 27px;
        position: absolute;
        #{$right}: -6px;
        border-radius: corner-values(50%);
    }
    body .baby .back .hand {
        background: $primary_color;
        -moz-border-radius: corner-values(50%);
        -webkit-border-radius: corner-values(50%);
        border-radius: corner-values(50%);
        position: absolute;
        width: 52px;
        height: 8px;
        top: 15px;
        z-index: 1;
    }
    body .baby .back .hand:after {
        content: " ";
        width: 16px;
        height: 13px;
        position: absolute;
        background: $primary_color;
        #{$right}: -7px;
        top: -2px;
        -moz-border-radius: corner-values(50%);
        -webkit-border-radius: corner-values(50%);
        border-radius: corner-values(50%);
    }
    body .baby .back .ass {
        position: absolute;
        width: 30px;
        height: 40px;
        background: $primary_color;
        #{$left}: 25px;
        border-radius: corner-values(50%);
        bottom: 0px;
        @include transform(skew(-30deg));
    }
    body .baby .back .ass:after {
        content: " ";
        position: absolute;
        width: 30px;
        height: 40px;
        background: $primary_color;
        #{$right}: -15px;
        border-radius: corner-values(50%);
        bottom: 0px;
        @include transform(skew(30deg));
        -moz-transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;
    }
    body .baby .head {
        width: 60px;
        height: 60px;
        background: $primary_color;
        -moz-border-radius: corner-values(50% 60% 50% 40%);
        -webkit-border-radius: corner-values(50%);
        border-radius: corner-values(50% 60% 50% 40%);
    }
    body .baby .head .eye {
        width: 10px;
        height: 2px;
        background: #000;
        -moz-border-radius: corner-values(1px);
        -webkit-border-radius: corner-values(1px);
        border-radius: corner-values(1px);
        position: absolute;
        top: 40px;
        #{$left}: 6px;
    }
    body .baby .head .cheek {
        width: 10px;
        height: 4px;
        -moz-border-radius: corner-values(50%);
        -webkit-border-radius: corner-values(50%);
        border-radius: corner-values(50%);
        background: #fff;
        position: absolute;
        top: 44px;
        #{$left}: 13px;
    }
    body .baby .head .horn {
        width: 10px;
        height: 18px;
        background: $primary_color;
        position: absolute;
        top: -8px;
        #{$left}: 18px;
        -moz-border-radius: corner-values(130% 30% 0% 0%);
        -webkit-border-radius: corner-values(130%);
        border-radius: corner-values(130% 30% 0% 0%);
        @include transform(rotate(-20deg));
    }
    body .baby.down .back {
        width: 85px;
    }
    body .baby.down .back .tail {
        top: -10px;
        #{$right}: 26px;
    }
    body .baby.down .back .ass {
        height: 25px;
    }
    body .baby.down .back .ass:after {
        height: 28px;
        width: 36px;
    }
    body .baby.down .back .feet {
        height: 24px;
        top: -1px;
    }
    body .baby.down .back .hand {
        width: 45px;
    }
    body .baby.down .back .hand:after {
        height: 11px;
        top: -1px;
    }
    body .baby.down .head {
        -moz-border-radius: corner-values(70% 60% 60% 40%);
        -webkit-border-radius: corner-values(70%);
        border-radius: corner-values(70% 60% 60% 40%);
        margin-#{$left}: -5px;
    }
    body .baby.down .head .eye {
        #{$left}: 0;
    }
    body .baby.down .head .cheek {
        #{$left}: 8px;
    }
    body .baby.down .head .horn {
        @include transform(rotate(20deg));
    }

    .gif-loader{
        position: absolute;
        top: 50%;
        #{$left}: 50%;
        width: 100%;
        text-align: center;
        @include transform(translate($translateX, -50%));
    }
    // Loadmore 1
    $colors:
      hsla(337, 84, 48, 0.75)
      hsla(160, 50, 48, 0.75)
      hsla(190, 61, 65, 0.75)
      hsla( 41, 82, 52, 0.75);
    $size: 3.5em;
    $thickness: 0.5em;

    // Calculated variables.
    $lat: ($size - $thickness) / 2;
    $offset: $lat - $thickness;

    .loader-dot {
      position: relative;
      width: $size;
      height: $size;
      @include transform(rotate(165deg));
      
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        #{$left}: 50%;
        display: block;
        width: $thickness;
        height: $thickness;
        border-radius: $thickness / 2;
        @include transform(translate(-50%, -50%));
      }
      
      &:before {
        @include animation(before 2s infinite);
      }
      
      &:after {
        @include animation(after 2s infinite);
      }
    }

    @keyframes before {
      0% {
        width: $thickness;
        box-shadow:
          $lat (-$offset) nth($colors, 1),
          (-$lat) $offset nth($colors, 3);
      }
      35% {
        width: $size;
        box-shadow:
          0 (-$offset) nth($colors, 1),
          0   $offset  nth($colors, 3);
      }
      70% {
        width: $thickness;
        box-shadow:
          (-$lat) (-$offset) nth($colors, 1),
          $lat $offset nth($colors, 3);
      }
      100% {
        box-shadow:
          $lat (-$offset) nth($colors, 1),
          (-$lat) $offset nth($colors, 3);
      }
    }

    @keyframes after {
      0% {
        height: $thickness;
        box-shadow:
          $offset $lat nth($colors, 2),
          (-$offset) (-$lat) nth($colors, 4);
      }
      35% {
        height: $size;
        box-shadow:
            $offset  0 nth($colors, 2),
          (-$offset) 0 nth($colors, 4);
      }
      70% {
        height: $thickness;
        box-shadow:
          $offset (-$lat) nth($colors, 2),
          (-$offset) $lat nth($colors, 4);
      }
      100% {
        box-shadow:
          $offset $lat nth($colors, 2),
          (-$offset) (-$lat) nth($colors, 4);
      }
    }

    .loader-dot {
      position: absolute;
      top: calc(50% - #{$size / 2});
      #{$left}: calc(50% - #{$size / 2});
    }
    @media (min-width: 992px){
        .gif-preload {
            width: 60%;
        }
    }
}


